.container{

    div{
        background-color: $maincolor;
        border-radius: 15px;

        a{

            :hover{
                transition: ease-in 0.70s;
                padding: 30px;
                }
            }

            img{
                width: 70%;
            }   
        }    
    }
